<!DOCTYPE html>
<html lang="en">
    <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="js/bootstrap.min.js"></script>

    <title>首頁</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">

    <title>Hello</title>
    </head>
    <body>

    <h4>hello! {{ username }}! Welcome to Smart!</h4>
        <div class="col">
            <p ALIGN=RIGHT><a class="btn btn-primary" href=＃ role="button">會員資料</a>
                <a class="btn btn-primary" href=# role="button">歷史資料</a>
            <a class="btn btn-primary" href="https://liff.line.me/1654318679-ZGj9g3bz" role="button">登出</a></p>
        </div>

        <main role="main">

          <!-- Main jumbotron for a primary marketing message or call to action -->
          <div class="jumbotron">
            <div class="container">
              <h1 class="display-3">Hello, Smart</h1>
              <br>
              <p>
                科技的進步，帶來了許許多多的便利.....
                便利的自助化、智慧化的趨勢，正在影響到我們生活的各種層面....
                從一開始的無人零售店後，推出可以自助結算的智慧購物車等等.....
                科技的影響遠遠超乎我們的想像！
                現在讓我們Smart帶領您進入這個神奇的世界吧！
    　         </p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>

              <marquee>因為科技前來，帶著新品離開------- Smart</marquee>
            </div>
          </div>

          <div class="container">
            <!-- Example row of columns -->
            <div class="row">
              <div class="col-md-4">
                <h2>創新</h2>
                <p>AI 人臉辨識技術, 結合即時動態追蹤, 帶給消費者全新的感受</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
              <div class="col-md-4">
                <h2>AI</h2>
                <p>你知道嗎，AI的發展帶給哪些便利即對我們的生活影響多大嗎？ </p>
                <p><a class="btn btn-secondary" href="https://digi.ey.gov.tw/Page/1538F8CF7474AB4E/a5fe8d75-4edd-436f-9a2e-b83827e6df77" role="button">View details &raquo;</a></p>

              </div>
              <div class="col-md-4">
                <h2>新潮</h2>
                <p>在資訊跟技術蓬勃發展的世代，歡迎進入新商店經營模式！</p>
                <p><a class="btn btn-secondary" href="https://digi.ey.gov.tw/Page/1538F8CF7474AB4E/a5fe8d75-4edd-436f-9a2e-b83827e6df77" role="button">View details</a></p>
              </div>
            </div>

            <hr>

          </div> <!-- /container -->

        </main>

        <footer class="container">
          <p>&copy; Smart Team Company 2020</p>
        </footer>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="../../assets/js/vendor/popper.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
    </body>
